.fas {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  &:hover {
    cursor: pointer;
  }
}
.marginleft5{
  margin-left: 5px;
}

.nav-bar-title{
  font-size: 1rem;
  color: white;
  font-size: 12px;
}
