.fas{
  color: white;
  margin-right: 5px;

  &:hover{
    cursor: pointer;
  }
}

.backButton{
  height: 100%;
  background-color: #bbb;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.marginleft5{
  margin-left: 5px;
}

.navbarTitle{
  font-size: 1rem;
  color: white;
}

.paddingRemover{
  padding-left: 0px !important;
}