.Bookcard{
    height: 150px;
    min-height: 100px;
}
.bookcardImage{
    background-color: black;
    height: 60%;
    min-height: 10px;
}

.bookcardAccessory{
    height: 40%;
    min-height: 10px;
    background-color: grey;
}

.fontsize10px{
    font-size: 10px;
}

.fontsize14px{
    font-size: 14px;
}

.fontsize8px{
    font-size: 8px;
    height: 20px;
}

.backcol{
    background-color: grey;
}

.height100{
    height: 100%;
    margin-top: 10px;
}