.bookcard {
    height: 150px;
    min-height: 100px;
    width: 100%;
}

.bookcard-image {
    background-color: black;
    height: 60%;
    min-height: 10px;
}

.bookcard-accessory {
    height: 40%;
    min-height: 10px;
    background-color: grey;
    width: 100%;
}