$primary-color: #fff;
$name-margin-top: 20px;
$color-margin-top:10px;
$color-label-margin-top:20px;
$size-margin-top:10px;
$cover-image-margin-top: 20px;
$description-margin-top :10px; 

.Product
{
    background-color: #bbb;
    min-height: 100vh;
    color: $primary-color;
}

span {
    display:block;
    overflow: hidden;
    padding: 0 4px 0 6px;
}

.checkboxs{
    display: flex;
}

.createbutton{
    justify-content: flex-end ;
}

.rad{
    display: flex;
    flex-grow: 10;  
}

.color{
  display:flex; 
}


.formInput
{
    width: 100%
}

.name
{
    margin-top: $name-margin-top;
    display: flex;
}

.cover-image
{
    margin-top: $cover-image-margin-top;
    display: flex;
    
}

.description{
    margin-top:$description-margin-top;
    width: 100% 
}

.color
{
    margin-top: $color-margin-top;
}

.color-label
{
    margin-top: $color-label-margin-top;
    display: flex;
}

.size
{
    margin-top: $size-margin-top;
    display: flex;
}