.Navbuttons {
    position: absolute;
    bottom: 20px;
    width: 100%;
    overflow: hidden;
    max-height: 60px;
    background-color: #eee0;
    text-align: center;
}

.btnNavButton {
    background-color: #333;
    color: white;
    height: 60px;
}

.leftNavButton {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    float: left;
    width: 30%;
}

.rightNavButton {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    float: right;
    width: 30%;
}

.centerNavButton {
    display: inline-block;
    border-radius: 100%;
    width: 60px;
}