.home {
    background-color: #ccc;
}

.background-enter {
    transform: translate(100%);
}

.background-enter.background-enter-active {
    transform: translate(0%);
    transition: transform 1000ms ease-in-out;
}

.background-leave {
    transform: translate(0%);
}

.background-leave.background-leave-active {
    transform: translate(-100%);
    transition: transform 1000ms ease-in-out;
}

.country-div{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    display: flex;
    align-items: center;
}

.speedy{
    height: 25%;
    width: 25%;
    //padding-top: 50px;
}

.mapStyles {
    width: 100%;       // Where the globe width size on the page is set. TODO: need a dynmic scale to adjust globe size
    outline: #888;
// paddingBottom: "80px"
};